Options -Indexes

RewriteEngine On
RewriteBase /PI2/public/

# Si el archivo o directorio no existe, redirigir a index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?uri=$1 [L,QSA]

# Permitir acceso a assets
<FilesMatch "\.(css|js|png|jpg|jpeg|gif|ico)$">
    Order Allow,Deny
    Allow from all
</FilesMatch>
